<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include layouts/header %>
</head>
<body>
    <%- include layouts/navbar %>
    <div class="container text-center">
        <h1><%= message %></h1>
    </div>
    <%- include layouts/footer %>
</body>
</html>