<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include layouts/header %>
</head>
<body>
  <%- include layouts/navbar %>
    <div class="container text-center mt-5">
      <h1> Dashboard </h1>
    </div>
  <%- include layouts/footer %>
</body>
</html>
