<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include layouts/header %>
</head>
<body>
  <%- include layouts/navbar %>

  <div class="container">
    <div class="row" >
        <div class="card" style="width: 15rem; margin: 1em;">
          <img src="https://iconsorciofiat.com.br/wp-content/plugins/ns_tabelafixa/imagensproduto/thumb.php?w=37%&h=37%&img=1_60-2-0-16V-Diesel-4x218-08-2017-11-43-08-glr.jpeg" class="card-img-top" alt="golf">
          <div class="card-body">
            <h5 class="card-title">$modelo</h5>
            <p class="card-text">$descricao</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
          </div>
        </div>
        
        <div class="card" style="width: 15rem; margin: 1em;">
          <img src="https://seminovoscarros.com.br/wp-content/uploads/2016/09/Fiat-Uno-2-.jpg" class="card-img-top" alt="golf">
          <div class="card-body">
            <h5 class="card-title">$modelo</h5>
            <p class="card-text">$descricao</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
          </div>
        </div>
        
        <div class="card" style="width: 15rem; margin: 1em;">
          <img src="https://reidascapotas.com.br/wp-content/uploads/2019/04/Duplo-cr-F250.jpg" class="card-img-top" alt="golf">
          <div class="card-body">
            <h5 class="card-title">$modelo</h5>
            <p class="card-text">$descricao</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
          </div>
        </div>
        
        <div class="card" style="width: 15rem; margin: 1em;">
          <img src="https://revistacarro.com.br/wp-content/uploads/2020/01/2019_Golf_R_91_Blue-Large-8637_1280x768.jpg" class="card-img-top" alt="golf">
          <div class="card-body">
            <h5 class="card-title">$modelo</h5>
            <p class="card-text">$descricao</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
          </div>
        </div>
    </div>
  </div>  
  <%- include layouts/footer %>
</body>
</html>
