<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include layouts/header %>
</head>

<body class="bg-black-alt font-sans leading-normal tracking-normal">

	<!--Container-->
	<div class="container w-full mx-auto ">
    <%- include layouts/navbar %>

		<div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">
			
			<!--Console Content-->
			
			<div class="flex flex-wrap">
               
                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-gray-300 border border-gray-800 rounded shadow p-2">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded p-3 bg-pink-600"><i class="fas fa-users fa-2x fa-fw fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-400">Usuários</h5>
                                <h3 class="font-bold text-3xl text-gray-600">249 <span class="text-pink-500"><i class="fas fa-exchange-alt"></i></span></h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-gray-300 border border-gray-800 rounded shadow p-2">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded p-3 bg-yellow-600"><i class="fas fa-car fa-2x fa-fw fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-400">Veículos</h5>
                                <h3 class="font-bold text-3xl text-gray-600">2 <span class="text-yellow-600"><i class="fas fa-car"></i></span></h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
                
                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-gray-300 border border-gray-800 rounded shadow p-2">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                <div class="rounded p-3 bg-red-600"><i class="fas fa-inbox fa-2x fa-fw fa-inverse"></i></div>
                            </div>
                            <div class="flex-1 text-right md:text-center">
                                <h5 class="font-bold uppercase text-gray-400">Marcas</h5>
                                <h3 class="font-bold text-3xl text-gray-600">3 <span class="text-red-500"><i class="fas fa-caret-up"></i></span></h3>
                            </div>
                        </div>
                    </div>
                    <!--/Metric Card-->
                </div>
            </div>

			<!--Divider-->
			<hr class="border-b-2 border-gray-600 my-8 mx-4">

      <div class="flex flex-row flex-wrap flex-grow mt-2">

        <div class="w-full md:w-1/2 p-3">
            <!--Graph Card-->
            <div class="bg-gray-300 border border-gray-800 rounded shadow">
                <div class="border-b bg-red-500 border-gray-800 p-3">
                    <h5 class="font-bold uppercase text-black">Categorias</h5>
                </div>
                <div class="p-5">
                    <table class="table table-striped  table-hover">
                      <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Modelo</th>
                            <th scope="col"></th>

                            
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                  <a class="btn btn-success btn-sm" href="">
                                    Editar
                                  </a>
                                  <form action="" method="POST" style="margin-left: 2px;">
                                    <button class="btn btn-danger btn-sm" type="submit">Remover</button>
                                  </form>
            
                              </div>
                            </td>
                        </tr>
                     
                    </tbody>
                    </table>
                </div>
            </div>
            <!--/Graph Card-->
        </div>

        <div class="w-full md:w-1/2 p-3">
            <!--Graph Card-->
            <div class="bg-gray-300 border border-gray-800 rounded shadow">
                <div class="border-b bg-blue-500 border-gray-800 p-3">
                    <h5 class="font-bold  uppercase text-black">Detalhes</h5>
                </div>
                <div class="p-5">
                  <table class="table table-striped  table-hover">
                    <thead>
                      <tr>
                          <th scope="col">Id</th>
                          <th scope="col">Modelo</th>
                          <th scope="col"></th>

                          
                      </tr>
                  </thead>
                  <tbody>
                     
                      <tr>
                          <td></td>
                          <td></td>
                          <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-success btn-sm" href="">
                                  Editar
                                </a>
                                <form action="" method="POST" style="margin-left: 2px;">
                                  <button class="btn btn-danger btn-sm" type="submit">Remover</button>
                                </form>
          
                            </div>
                          </td>
                      </tr>
                   
                  </tbody>
                  </table>
                   
                </div>
            </div>
            <!--/Graph Card-->
        </div>

					
		</div>

    <hr class="border-b-2 border-gray-600 my-8 mx-4">
    
	</div> 
	<!--/container-->
	
  <%- include layouts/footer %>
</body>
</html>
