<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../layouts/header %>
</head>
<body>
    <%- include ../layouts/navbar %>
    <div class="container">
        
        <h1 class="text-center my-5"> Cadastro de Veículos </h1>
        
        <form method="POST" action="/saveVehicles">
            
            <div class="mb-3">
                <label for="modelo" class="form-label">Modelo</label>
                <input type="text" class="form-control" name="modelo" id="modelo">
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <label for="marca" class="form-label">Marca</label>
                        <select class="form-select" aria-label="Default select example" name="marca_id" id="marca">
                            <option value="">Selecione</option>
                            <option value="Volkswagen">Volkswagen</option>
                            <option value="Chevrolet">Chevrolet</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="cor" class="form-label">Cor</label>
                            <select class="form-select" aria-label="Default select example" name="cor_id" id="cor">
                                <option value="">Selecione</option>
                                <option value="Branco">Branco</option>
                                <option value="Prata">Prata</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-6">
                        <label for="anomodelo" class="form-label">Ano Modelo</label>
                        <input type="text" class="form-control col-md-5" name="ano_modelo" id="anomodelo">
                    </div>
                    <div class="col-md-6">
                        <label for="anofabricacao" class="form-label">Ano Fabricação</label>
                        <input type="text" class="form-control col-md-5" name="ano_fabricacao" id="anofabricacao">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <label for="valor" class="form-label">Valor</label>
                        <input type="text" class="form-control" name="valor" id="valor">
                    </div>
                    <div class="col-md-8">
                        <label for="imagem" class="form-label">Imagem do veículo</label>
                        <input class="form-control" type="file" name="imagem" accept="image/png, image/jpeg" id="imagem">
                    </div>
                </div>
            </div>
            <div class="mb-3  mb-3">
                <div class="form-floating">
                    <textarea class="form-control" placeholder=" Opcionais..." id="floatingTextarea2"
                        style="height: 100px" name="opcionais"></textarea>
                    <label for="floatingTextarea2 ml-5">Opcionais...</label>
                </div>
            </div>
            <div class="rol-8 mb-3 mb-3">
                <button type="submit" class="btn btn-success float-end">Salvar</button>
            </div>
        </form>
    </div>
    <%- include ../layouts/footer %>
</body>

</html>