<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../layouts/header %>
</head>
<body>
    <%- include ../layouts/navbar %>
    <div class="container mt-5">
        <h1 class="text-center"> Cadastro de Veículos </h1>
        <form method="POST" action="/saveVehicles">
            <div class="row">
                <div class="form-group col-8">
                    <label class="form-labbel">Modelo:</label>
                    <input type="text" class="form-control" name="nome">
                </div>
                <div class="form-group col-8">
                    <label class="form-labbel">Ano Modelo:</label>
                    <input type="text" class="form-control" name="login">
                </div>
                <div class="form-group col-8">
                    <label class="form-labbel">Ano Fabricação:</label>
                    <input type="password" class="form-control" name="senha">
                </div>
                <div class="form-group col-8 mb-3">
                    <label class="form-labbel">Valor</label>
                    <input type="text" class="form-control" name="valor">
                </div>
                <div class="form-group col-8 mb-2">
                    <select class="form-select" aria-label="Default select example" name="marca_id">
                        <option selected>Marca</option>
                        <option value="Volkswagen">Volkswagen</option>
                        <option value="Chevrolet">Chevrolet</option>
                    </select>
                </div>
                <div class="mb-3 col-8">
                    <label for="formFile" class="form-label">Imagem do veículo</label>
                    <input class="form-control" type="file" name="fotoDestaque" accept="image/png, image/jpeg"
                        id="formFile">
                </div>
                <div class="form-group col-8 mb-3">
                    <select class="form-select" aria-label="Default select example" name="cor_id">
                        <option selected>Cor</option>
                        <option value="Branco">Branco</option>
                        <option value="Prata">Prata</option>
                    </select>
                </div>
                <div class="form-group col-8 mb-3">
                    <select class="form-select" aria-label="Default select example" name="usuario_id">
                        <option selected>Usuário</option>
                        <option value="Junão">Junão</option>
                        <option value="Adonai">Adonai</option>
                    </select>
                </div>
                <div class="form-group col-8 mb-3">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder=" Opcionais..." id="floatingTextarea2"
                            style="height: 100px" name="opcionais"></textarea>
                        <label for="floatingTextarea2 ml-5">Opcionais...</label>
                    </div>
                </div>
                <div class="rol-8 form-group col-8 mb-3">
                    <button type="submit" class="btn btn-success float-end">Salvar</button>
                </div>
            </div>
        </form>
    </div>
    <%- include ../layouts/footer %>
</body>

</html>